.song-list-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.song-list-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.song-list-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px dashed red;
}
